.buttons {
    display: flex;
    justify-content: space-around;
}

.inc {
    color: #282c34;
    border: skyblue 1px solid;
    margin-top: 10px;
    border-radius: 5px;
    background-color: skyblue;
    font-weight: 600;
    font-size: 20px;
    width: 60px;
}
.inc:hover{
    background-color: cornflowerblue;
 }

.reset {
    color: #282c34;
    border: skyblue 1px solid;
    margin-top: 10px;
    border-radius: 5px;
    background-color: skyblue;
    font-weight: 600;
    font-size: 20px;
    width: 60px;
}
.reset:hover{
    background-color: cornflowerblue;
}

.opacity {

    color: #282c34;
    border: skyblue 1px solid;
    margin-top: 10px;
    border-radius: 5px;
    background-color: skyblue;
    font-weight: 600;
    font-size: 20px;
    width: 60px;
    opacity: 0.3;
}
